.slider-Box {
    display: flex;
    justify-content: center;
}

.slider {
    width: 100%;
    /* border-radius: 20px; */
    overflow: hidden;
}

img{
    width: auto;
    height: 500px;
    object-fit: cover;
}

/* Mobile View */
@media screen and (max-width:768px){
    img{
        height: 250px;
    }
}